*{
    padding: 0;
    margin: 0;
}

.inicio{
    margin: 2rem;
    text-align: center;
   
}

header{
    border-bottom: 1px solid;
    margin-bottom: 1.5rem;
}

h1,h2{
    margin: 1rem;
    text-align: center;
    font-family:'Montaga';
    text-decoration: none;
    font-weight: 400;
}

h1{
    font-size: 2.5rem;
}

p{
    text-align: center;
}

.catalogo,.introducao{
    text-align: center;
}

.cta-register,.cta{
    background-color: black;
    border-radius: 999px;
    color: #ffffff;
    display: block;
    margin: 2rem auto;
    padding: 0.8rem 1.2rem;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
}

.generos>li{
    display: inline-block;
    margin-top: 2rem;
}

.genero > a{
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #32a9e0;
    border-radius: 9999px;
    padding: 1rem 1.5rem;
    margin: 0.3rem;
}

.ver-mais>a{
    background-color: black;
    border-radius: 999px;
    color: #ffffff;
    display: block;
    padding: 1rem 1.5rem;
    margin: 0.3rem;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
}

footer{
color: #ffffff;
margin-top: 1rem;
background-color: black;
padding: 1.5rem;
}
